<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/welcome.css" />
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="results">
    <h3>RESULTS PAGE</h3>
    <p>Building (name or id) with the most total purchase costs</p>
    <p>Building id: <%= data %></p><br><br>
      <a class="button" href="/">Home</a>
  </div>
</body>

</html>
