<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/welcome.css" />
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="results">
    <h3>RESULTS PAGE</h3>
    <p>Total purchase costs for item’s in the category (item_category_id = 7)</p>
    <p>Item category 7 was purchased <%= data %> times </p><br><br>
    <a class="button" href="/">Home</a>
  </div>
</body>

</html>
