<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="js/scripts.js"></script>
</head>

  <body>
    <div>RESULTS PAGE</div>
    <p>Total Purchases Costs for Ontario</p>
    <%= data %>
    <a href="/">Home</a>
</body>

</html>
