<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/welcome.css" />
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="results">
    <h3>RESULTS PAGE</h3>
    <p>Total number of times item (item_id = 47) was purchased</p>
    <p>Item 47 was purchased <%= data %> times<p><br><br>
      <a class="button" href="/">Home</a>
      <div>
</body>

</html>
