<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="js/scripts.js"></script>
</head>

  <body>
    <div>RESULTS PAGE</div>
    <p>Purchase costs in the United States</p>
    U.S purchase costs were <%= data %>
</body>

</html>
