<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/welcome.css" />
  <script src="js/scripts.js"></script>
</head>

<body>
  <div class="results">
    <h3>RESULTS PAGE</h3>
    <p>Purchase costs in the United States</p>
    <p>U.S purchase costs were <%= data %><p><br><br>
      <a class="button" href="/">Home</a>
      <div>
</body>

</html>
