<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="js/scripts.js"></script>
</head>

  <body>
    <div>Server online</div>

    <form>
      <span>Submit mock-form for a data enquiery</span>
         Total Purchase Costs For: <input type="text" value= "Samsung manufacture devices" readonly><br>
         Purchase costs for item <input type="text"  value= "item #7" readonly><br>
         Purchase cost in <input type="text"  value= "United States" readonly><br>
         purchase cost in <input type="text"  value= "Ontario" readonly><br>
         Total purshases costs: <br><input type="text" value= "United States" readonly><br><br>
         Building with the most purchase costs
    </form>
    <a href="/clients/info">View Results</a>
</body>

</html>
