<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="js/scripts.js"></script>
</head>

  <body>
    <h3 class="title">Mapsted Coding Challenge</h3>
<div class="grid-container">
    <div class="grid-item ">
    <p><strong>Total Purchase costs for Samsung Manufacturers</strong></p>
    <a class="button" href="/manufacturers/info">View Results</a>
  </div>

<div class="grid-item ">
    <p><strong>Total Times purchased item number 47</strong></p>
    <a class="button" href="/timesPurchased/info">View Results</a>
</div>

<div class="grid-item ">
    <p><strong>Total Times purchased Category number 7</strong></p>
    <a class="button" href="/itemCategory/info">View Results</a>
</div>

<div class="grid-item ">
    <p><strong>Total purchase costs in Ontario</strong></p>
    <a class="button" href="/ontarioCosts/info">View Results</a>
</div>

<div class="grid-item ">
    <p><strong>Total purchase costs in the United States</strong></p>
    <a class="button" href="/usCosts/info">View Results</a>
</div>

<div class="grid-item ">
    <p><strong>ID with the greatest purchase cost</strong></p>
    <a class="button" href="/allCosts/info">View Results</a>
    </div>
  </div>
</body>

</html>
