<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="welcome.css" />
  <script src="js/scripts.js"></script>
</head>

  <body>
    <div>Server online</div>
    <p>Total Purchases for Samsung Manufacturers</p>
    <a href="/manufacturers/info">View Results</a>

    <br><br>

    <p>Total Times purchased item number 47</p>
    <a href="/timesPurchased/info">View Results</a>

    <br><br>

    <p>Total Times purchased Category number 7</p>
    <a href="/itemCategory/info">View Results</a>

    <p>Total purchase costs in Ontario</p>
    <a href="/ontarioCosts/info">View Results</a>

    <p>Total purchase costs in the United States</p>
    <a href="/usCosts/info">View Results</a>

    <p>ID with the greatest purchase cost</p>
    <a href="/allCosts/info">View Results</a>
</body>

</html>
